<div class="footer-info">
	<div class="row">
		<div class="col-12">
			<div class="footer py-5 text-center">
				<div class="container">
				<div class="row mb-5">
					<div class="col-12">
					<p class="mb-0">
						<a href="#" class="p-3"><span class="icon-facebook"></span></a>
						<a href="#" class="p-3"><span class="icon-twitter"></span></a>
						<a href="#" class="p-3"><span class="icon-instagram"></span></a>
						<a href="#" class="p-3"><span class="icon-linkedin"></span></a>
						<a href="#" class="p-3"><span class="icon-pinterest"></span></a>
					</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="footer-col-left col-sm-6 col-12">
			{% if copyright %}
			&copy; {{ copyright }}
			{% endif %}
			{% if footer_address %}
			{% if copyright %}<br>{% endif %}
			{{ footer_address }}
			{% endif %}
		</div>
		{# powered #}
		<div class="footer-col-right col-sm-6 col-12 footer-powered">
			{% block powered %}
			{% include "templates/includes/footer/footer_powered.html" %}
			{% endblock %}
		</div>
	</div>
</div>
